@import url(http://fonts.googleapis.com/css?family=Abel);



* {
	box-sizing: border-box;
}


/* ///// LAYOUT ///// */

h1, h2 {
	font-family: 'Abel', sans-serif;
}

#logo {
	display: inline-block;
	border-left: 1px dotted black;
	padding-left: 30px;
	border-right: 1px solid black;
}

body {
	background: #ccc;
}

/* ///// NAVBAR ///// */

#navbar {
	position: fixed;
	top: 30px;
	right: 50px;
}

#logo {

}